In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Se explora y transforma el archivo de Excel Interntet.xlsx, previamente a través de Excel se exploró las características de los datos y contenido para evitar transformar hojas que no se analizarán posteriormente en el archivo de EDA.

In [3]:
# Leemos el archivo de excel Internet.xlx, hoja Velocidad_sin_Rangos.
df_Velocidad_sin_Rangos = pd.read_excel("../DataSet/Internet.xlsx", sheet_name="Velocidad_sin_Rangos")

In [ ]:
# A continuación en cada celda usaremos funciones habituales para conocer la naturaleza de los datos y detectar posibles nulos, outliers, duplicados.
df_Velocidad_sin_Rangos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18884 entries, 0 to 18883
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Año        18884 non-null  int64
 1   Trimestre  18884 non-null  int64
 2   Provincia  18884 non-null  object
 3   Velocidad  18874 non-null  float64
 4   Accesos    18884 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 737.8+ KB

In [ ]:
#Dejamos los valores nulos sin modificar porque en este caso representan un nro no muy alto y no serán analizadas las velocidades de este DF
df_Velocidad_sin_Rangos[df_Velocidad_sin_Rangos.isnull().any(axis=1)]

        Año  Trimestre     Provincia  Velocidad  Accesos
1155   2024          1       Córdoba        NaN        1
1644   2024          1      Santa Fe        NaN        9
3753   2023          2       Córdoba        NaN        1
4239   2023          2      Santa Fe        NaN        9
6303   2022          3       Córdoba        NaN        1
6785   2022          3      Santa Fe        NaN        9
9255   2021          3  Buenos Aires        NaN        4
10031  2021          2  Buenos Aires        NaN        4
10794  2021          1  Buenos Aires        NaN        4
11538  2020          4  Buenos Aires        NaN        4

In [4]:
df_Velocidad_sin_Rangos[df_Velocidad_sin_Rangos["Accesos"] <= 0]

      Año  Trimestre Provincia  Velocidad  Accesos
118  2024          2      CABA        0.0        0
439  2024          2  LA RIOJA        0.0        0

In [5]:
df_Velocidad_sin_Rangos = df_Velocidad_sin_Rangos[df_Velocidad_sin_Rangos["Accesos"] != 0]

In [6]:
# Chequeamos valores únicos para evitar que se repitan con algún carácter diferente.

df_Velocidad_sin_Rangos['Provincia'].unique()

array(['BUENOS AIRES', 'CABA', 'CATAMARCA', 'CHACO', 'CHUBUT', 'CORDOBA',
       'CORRIENTES', 'ENTRE RIOS', 'FORMOSA', 'JUJUY', 'LA PAMPA',
       'LA RIOJA', 'MENDOZA', 'MISIONES', 'NEUQUEN', 'RIO NEGRO', 'SALTA',
       'SAN JUAN', 'SAN LUIS', 'SANTA CRUZ', 'SANTA FE',
       'SANTIAGO DEL ESTERO', 'TIERRA DEL FUEGO', 'TUCUMAN',
       'Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype=object)

In [7]:
# Encontramos que el DF tiene nombres de las provincias en mayúsculas en los registros del último año, no así en el resto de los registros,
# por lo que estandarizamos todo a maýuscula.

df_Velocidad_sin_Rangos["Provincia"] = df_Velocidad_sin_Rangos["Provincia"].str.upper()

In [8]:
# Al encontrar que algunos registros tienen tilde en las provincias, se modifican tódos para que queden seteados y así evitar duplicidad,
# para esto se define un diccionario.

dicc_provincias = {"NEUQUÉN": "NEUQUEN", "CÓRDOBA": "CORDOBA", "CAPITAL FEDERAL": "CABA", 
                   "ENTRE RÍOS": "ENTRE RIOS", "RÍO NEGRO": "RIO NEGRO", "TUCUMÁN": "TUCUMAN"}

df_Velocidad_sin_Rangos['Provincia'] = df_Velocidad_sin_Rangos['Provincia'].replace(dicc_provincias)

In [9]:
# Guardamos en csv
df_Velocidad_sin_Rangos.to_csv("../DataSet/Velocidad y Accesos por Provincias Historico.csv", encoding='utf-8', index=False)

In [ ]:
#Leemos el archivo de excel Internet.xlx, hoja Velocidad_sin_Rangos.
df_Totales_AccesosxRango = pd.read_excel("../DataSet/Internet.xlsx", sheet_name="Totales Accesos por rango")

In [ ]:
# A continuación en las siguientes líneas usaremos funciones habituales para conocer la naturaleza de los datos y 
# detectar posibles errores en la hoja Totales Accesos Por Tecnología.
df_Totales_AccesosxRango.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      42 non-null     int64
 1   Trimestre                42 non-null     int64
 2   Hasta 512 kbps           42 non-null     int64
 3   Entre 512 Kbps y 1 Mbps  42 non-null     int64
 4   Entre 1 Mbps y 6 Mbps    42 non-null     int64
 5   Entre 6 Mbps y 10 Mbps   42 non-null     int64
 6   Entre 10 Mbps y 20 Mbps  42 non-null     int64
 7   Entre 20 Mbps y 30 Mbps  42 non-null     int64
 8   Más de 30 Mbps           42 non-null     int64
 9   OTROS                    42 non-null     int64
 10  Total                    42 non-null     int64
dtypes: int64(11)
memory usage: 3.7 KB

In [ ]:
df_Totales_AccesosxRango.head(10)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2024,2,28151,67024,840200,911374,662649,348253,8357088,341368,11556107
1,2024,1,28801,69355,866152,950930,672155,353896,8363694,328173,11633156
2,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
3,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
4,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897
5,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895
6,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,11208114
7,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
8,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
9,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009

In [5]:
# Guardamos en csv para disponer de los datos sin cambios necesarios para analizar
df_Totales_AccesosxRango.to_csv("../DataSet/Velocidad en Rangos en el tiempo.csv", encoding='utf-8', index=False)

In [ ]:
#Leemos el archivo de excel Internet.xlx, hoja Totales Accesos Por Tecnología.
df_accesos_tecnologia = pd.read_excel("../DataSet/Internet.xlsx", sheet_name="Totales Accesos Por Tecnología")

In [ ]:
# A continuación en cada celda usaremos funciones habituales para conocer la naturaleza de los datos y detectar posibles nulos, outliers o duplicados.
df_accesos_tecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           42 non-null     int64
 1   Trimestre     42 non-null     int64
 2   ADSL          42 non-null     int64
 3   Cablemodem    42 non-null     int64
 4   Fibra óptica  42 non-null     int64
 5   Wireless      42 non-null     int64
 6   Otros         42 non-null     int64
 7   Total         42 non-null     int64
 8   Periodo       42 non-null     object
dtypes: int64(8), object(1)
memory usage: 3.1+ KB

In [8]:
df_accesos_tecnologia.describe()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
count,42.000000,42.000000,4.200000e+01,4.200000e+01,4.200000e+01,42.000000,42.000000,4.200000e+01
mean,2018.761905,2.452381,2.694844e+06,4.433906e+06,1.224694e+06,304293.214286,158186.071429,8.815923e+06
std,3.074756,1.130560,1.094347e+06,1.319783e+06,1.321136e+06,203202.399993,82363.507846,1.733189e+06
min,2014.000000,1.000000,7.334910e+05,2.407330e+06,1.391870e+05,70749.000000,54300.000000,6.398398e+06
25%,2016.000000,1.250000,1.730869e+06,3.146292e+06,1.719410e+05,85390.500000,70430.000000,7.218131e+06
50%,2019.000000,2.000000,3.061623e+06,4.535507e+06,6.989465e+05,292223.000000,185221.000000,8.720658e+06
75%,2021.000000,3.000000,3.713298e+06,5.857192e+06,1.945689e+06,515434.000000,244069.500000,1.038873e+07
max,2024.000000,4.000000,3.803024e+06,6.073426e+06,4.169958e+06,598682.000000,265328.000000,1.163316e+07

In [10]:
df_accesos_tecnologia["Año"].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014])

In [ ]:
# Guardamos en csv para disponer de los datos sin cambios necesarios para analizar
df_accesos_tecnologia.to_csv("../DataSet/Totales Accesos por Tecnologia.csv", encoding='utf-8', index=False)

In [2]:
# Abrimos la hoja de Velocidad % por provincia
df_vel_media_prov = pd.read_excel("../DataSet/Internet.xlsx", sheet_name="Velocidad % por prov")

In [3]:
# Cheuqueamos consistencia en los datos con las funciones ya utilizadas info, describe, etc.
df_vel_media_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     1008 non-null   int64
 1   Trimestre               1008 non-null   int64
 2   Provincia               1008 non-null   object
 3   Mbps (Media de bajada)  1008 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 31.6+ KB

In [4]:
df_vel_media_prov.describe()

               Año    Trimestre  Mbps (Media de bajada)
count  1008.000000  1008.000000             1008.000000
mean   2018.761905     2.452381               24.720245
std       3.039439     1.117574               33.660764
min    2014.000000     1.000000                2.573729
25%    2016.000000     1.000000                4.866698
50%    2019.000000     2.000000               10.089315
75%    2021.000000     3.000000               29.875292
max    2024.000000     4.000000              234.440000

In [5]:
df_vel_media_prov.shape

(1008, 4)

In [7]:
df_vel_media_prov["Provincia"].unique()

array(['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype=object)

In [8]:
df_vel_media_prov["Provincia"] = df_vel_media_prov["Provincia"].replace("Capital Federal", "CABA")

In [9]:
# Guardamos en csv
df_vel_media_prov.to_csv("../DataSet/Velocidad Media por Provincia en el Tiempo.csv", encoding='utf-8', index=False)

In [9]:
df_penetracion_poblacion = pd.read_excel("../DataSet/Internet.xlsx", sheet_name="Penetración-poblacion")

In [ ]:
df_penetracion_poblacion

      Año  Trimestre        Provincia  Accesos por cada 100 hab
0    2024          2     Buenos Aires                 27.430000
1    2024          2  Capital Federal                 47.440000
2    2024          2        Catamarca                 17.500000
3    2024          2            Chaco                 11.780000
4    2024          2           Chubut                 26.460000
..    ...        ...              ...                       ...
995  2014          1         La Rioja                  4.353175
996  2014          1          Mendoza                  8.933318
997  2014          1         Misiones                  6.323161
998  2014          1          Neuquén                 14.882266
999  2014          1        Río Negro                 13.867842

[1000 rows x 4 columns]

In [8]:
df_penetracion_poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       1000 non-null   int64
 1   Trimestre                 1000 non-null   int64
 2   Provincia                 1000 non-null   object
 3   Accesos por cada 100 hab  1000 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 31.4+ KB

In [11]:
df_penetracion_poblacion.describe()

               Año    Trimestre  Accesos por cada 100 hab
count  1000.000000  1000.000000               1000.000000
mean   2018.800000     2.464000                 15.727248
std       3.021445     1.114426                  9.240063
min    2014.000000     1.000000                  2.723000
25%    2016.000000     1.000000                  9.018188
50%    2019.000000     2.000000                 13.674812
75%    2021.000000     3.000000                 20.323973
max    2024.000000     4.000000                 52.236739

In [15]:
df_penetracion_poblacion["Provincia"].unique()

array(['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype=object)

In [16]:
df_penetracion_poblacion["Provincia"] = df_penetracion_poblacion["Provincia"].replace("Capital Federal", "CABA")

In [ ]:
# Guardamos en csv
df_penetracion_poblacion.to_csv("../DataSet/Penetración Población.csv", encoding='utf-8', index=False)

In [8]:
df_penetracion_hogares = pd.read_excel("../DataSet/Internet.xlsx", sheet_name="Penetracion-hogares")

In [7]:
df_penetracion_hogares

      Año  Trimestre        Provincia  Accesos por cada 100 hogares
0    2024          2     Buenos Aires                     79.840000
1    2024          2  Capital Federal                    116.370000
2    2024          2        Catamarca                     68.810000
3    2024          2            Chaco                     44.060000
4    2024          2           Chubut                     86.330000
..    ...        ...              ...                           ...
995  2014          1         La Rioja                     16.294105
996  2014          1          Mendoza                     31.913123
997  2014          1         Misiones                     23.136539
998  2014          1          Neuquén                     49.791605
999  2014          1        Río Negro                     44.913957

[1000 rows x 4 columns]

In [ ]:
df_penetracion_hogares.describe()

               Año    Trimestre  Accesos por cada 100 hab
count  1000.000000  1000.000000               1000.000000
mean   2018.800000     2.464000                 15.727248
std       3.021445     1.114426                  9.240063
min    2014.000000     1.000000                  2.723000
25%    2016.000000     1.000000                  9.018188
50%    2019.000000     2.000000                 13.674812
75%    2021.000000     3.000000                 20.323973
max    2024.000000     4.000000                 52.236739

In [ ]:
df_penetracion_hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       1000 non-null   int64
 1   Trimestre                 1000 non-null   int64
 2   Provincia                 1000 non-null   object
 3   Accesos por cada 100 hab  1000 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 31.4+ KB

In [19]:
df_penetracion_poblacion["Provincia"].unique()

array(['Buenos Aires', 'CABA', 'Catamarca', 'Chaco', 'Chubut', 'Córdoba',
       'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa',
       'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta',
       'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe',
       'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'], dtype=object)

In [18]:
df_penetracion_hogares["Provincia"] = df_penetracion_hogares["Provincia"].replace("Capital Federal", "CABA")

In [ ]:
# Guardamos en csv
df_penetracion_hogares.to_csv("../DataSet/Penetración Hogares.csv", encoding='utf-8', index=False)

In [14]:
df_penetracion_poblacion = df_penetracion_poblacion.sort_values(by=['Año', 'Trimestre', 'Provincia'], ascending=[True, True, True])

In [15]:
df_penetracion_poblacion

      Año  Trimestre            Provincia  Accesos por cada 100 hab
984  2014          1         Buenos Aires                 16.692346
985  2014          1                 CABA                 42.655072
986  2014          1            Catamarca                  6.184615
987  2014          1                Chaco                  5.553671
988  2014          1               Chubut                 12.703590
..    ...        ...                  ...                       ...
19   2024          2           Santa Cruz                 20.800000
20   2024          2             Santa Fe                 25.580000
21   2024          2  Santiago Del Estero                 12.330000
22   2024          2     Tierra Del Fuego                 32.280000
23   2024          2              Tucumán                 15.070000

[1000 rows x 4 columns]

In [16]:
df_penetracion_hogares = df_penetracion_hogares.sort_values(by=['Año', 'Trimestre', 'Provincia'], ascending=[True, True, True])

In [17]:
df_penetracion_poblacion['Accesos por cada 100 hogares'] = df_penetracion_hogares['Accesos por cada 100 hogares']

In [20]:
penetracion_internet = df_penetracion_poblacion

In [21]:
# Guardamos en csv
penetracion_internet.to_csv("../DataSet/Penetración Servicios de Internet.csv", encoding='utf-8', index=False)